body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100vh;
    
}
.btn{
   
    text-align: center;
}
h2{
    text-align: center;
}